<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>714258713388-5cmrac82s3efetd0v9kb9dt0pq1ncngs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.714258713388-5cmrac82s3efetd0v9kb9dt0pq1ncngs</string>
	<key>API_KEY</key>
	<string>AIzaSyBc-LLsWDCE8LNNG-_-v0l61u5SRalLhns</string>
	<key>GCM_SENDER_ID</key>
	<string>714258713388</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskify.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>taskify-task-mgmt</string>
	<key>STORAGE_BUCKET</key>
	<string>taskify-task-mgmt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:714258713388:ios:e7e0a7078af078376f3a89</string>
</dict>
</plist>